@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
  }

  h1 {
    @apply text-2xl font-medium;
  }

  h2 {
    @apply text-xl font-medium;
  }

  h3 {
    @apply text-lg font-medium;
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.5s ease-out;
  }
}